/***
TABLE OF CONTENTS
=============================================================================
0. Imports
1. Resets and base setup
2. Window scrollbar
=============================================================================
***/

/* ==========================================================================
0. Imports
========================================================================== */



/* ==========================================================================
1. Resets and base setup
========================================================================== */

html, body{
    margin: 0;
    height: 100%;
    background-color: #e8eaea;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a, a:active, i, i:active, div, div:active, div:focus, span:focus, span:active, {
    outline: none !important;
}

.button.is-active, .button:active, .button:focus {
    box-shadow: none !important
}

section:focus {
    outline: none !important;
}

/* ==========================================================================
2. Window scrollbar
========================================================================== */

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
}
